!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Joe Webster - Contact
    %link{:href => "images/joe.ico", :rel => "shortcut icon"}
    %meta{:content => "", :name => ""}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "styles/css/main.css", :rel => "stylesheet"}

  %body
    %header
      .wrapper
        %h1.header-logo
          %a.header-link{:href => "index.html"} Joe Webster
        %nav
          %ul.nav-list
            %li.nav-item
              %a{:href => "work.html"} Work
            %li.nav-item
              %a{:href => "about.html"} About
            %li.nav-item
              %a{:href => "images/resume-joe.pdf", :target => "_blank"} Resume
            %li.nav-item.is-selected
              %a{:href => "contact.html"} Contact

    %section.contact
      .wrapper
        %h2.work-header Contact
        %p Say hi or work with me:
        %a.contact-link{:href => "mailto:joe.scott.webster@gmail.com?subject=Interested in working together", :target => "_blank"}
          joeswebster@gmail.com
        %p Elsewhere:
        %ul.contact-icon-list
          %li.icon-list-item 
            %a{:href => "https://www.linkedin.com/in/joeswebster", :target => "_blank"} 
              %img{:src => "images/icon-linkedin.png"}
          %li.icon-list-item
            %a{:href => "https://github.com/Joewebsta", :target => "_blank"} 
              %img{:src => "images/icon-github.png"}

    %footer
      .wrapper
        %p.footer-copyright &copy; Copyright Joe Webster 2014
        %p.footer-text Website designed and coded by Joe
        %ul.social-links
          %li.social-link
            %p.footer-text
              %strong email:
              %a{:href => "mailto:joe.scott.webster@gmail.com?subject=Interested in working together", :target => "_blank"} joe.scott.webster@gmail.com
          %li.social-link
            %p.footer-text
              %strong linkedin:
              %a{:href => "https://www.linkedin.com/in/joeswebster", :target => "_blank"} linkedin.com/in/joeswebster
          %li.social-link
            %p.footer-text
              %strong github:
              %a{:href => "https://github.com/Joewebsta", :target => "_blank"} github.com/joewebsta