!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Joe Webster - UX Designer | Front End Developer
    %link{:href => "images/joe.ico", :rel => "shortcut icon"}
    %meta{:content => "", :name => "Joe is a User Experience Designer and Front End Developer based in Los Angeles."}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "styles/css/main.css", :rel => "stylesheet"}

  %body
    %header
      .wrapper
        %h1.header-logo
          %a.header-link{:href => "index.html"} Joe Webster
        %nav
          %ul.nav-list
            %li.nav-item
              %a{:href => "work.html"} Work
            %li.nav-item
              %a{:href => "about.html"} About
            %li.nav-item
              %a{:href => "images/resume.pdf", :target => "_blank"} Resume
            %li.nav-item
              %a{:href => "contact.html"} Contact

    %section.hero
      .wrapper
        %p.hero-text
          %span.hero-emphasized-block Hi. 
          I'm Joe Webster, a 
          %span.hero-emphasized User Experience Designer 
          and 
          %span.hero-emphasized Front End Developer 
          based in LA.
          %span.hero-emphasized Simplicity 
          and 
          %span.hero-emphasized efficiency 
          are my guiding stars. I strive to build products that enable users to successfully achieve their goals in less time than ever before. Why? Because 
          %span.hero-emphasized time is precious.
        %a.hero-link{:href => "about.html"} More about me and what I do &raquo;

    %section.work
      .wrapper
        %h2.work-header Featured Work
        .work-cards
          .work-card
            %a{:href => "weddingdressfantasy.html"}
              %img.work-card-image{:src => "images/work-wdf.jpg"}
              %h3.work-card-header
                %a.work-card-link{:href => "weddingdressfantasy.html"} Wedding Dress Fantasy
              %p.work-card-subheader Alternative and traditional wedding dresses for the unique bride-to-be

          .work-card
            %a{:href => "podparazzi.html"}
              %img.work-card-image{:src => "images/work-podparazzi.jpg"}
              %h3.work-card-header
                %a.work-card-link{:href => "podparazzi.html"} Podparazzi
              %p.work-card-subheader Follow your favorite celebrities' podcast appearances

          .work-card
            %a{:href => "joeswebster.html"}
              %img.work-card-image{:src => "images/work-joeswebster.jpg"}
              %h3.work-card-header
                %a.work-card-link{:href => "joeswebster.html"} Joeswebster.com
              %p.work-card-subheader My personal portfolio from idea to development

    %footer
      .wrapper
        %p.footer-copyright &copy; Copyright Joe Webster 2014
        %p.footer-text Website designed and coded by Joe
        %ul.social-links
          %li.social-link
            %p.footer-text
              %strong email:
              %a{:href => "mailto:joe.scott.webster@gmail.com?subject=Interested in working together", :target => "_blank"} joe.scott.webster@gmail.com
          %li.social-link
            %p.footer-text
              %strong linkedin:
              %a{:href => "https://www.linkedin.com/in/joeswebster", :target => "_blank"} linkedin.com/in/joeswebster
          %li.social-link
            %p.footer-text
              %strong github:
              %a{:href => "https://github.com/Joewebsta", :target => "_blank"} github.com/joewebsta