!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Joe Webster's Portfolio
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "styles/css/main.css", :rel => "stylesheet"}

  %body
    %header
      .wrapper
        %h1.header-logo
          %a.header-link{:href => ""} Joe Webster
        %nav
          %ul.nav-list
            %li.nav-item
              %a{:href => ""} Work
            %li.nav-item
              %a{:href => ""} About
            %li.nav-item
              %a{:href => ""} Contact

    %section.hero
      .wrapper
        %p
          Hi. I'm Joe Webster, a User Experience Designer and Front End Developer based in LA. I believe in simplicity and efficieny. If my designs enable users to successfully achieve their goals in less thime than ever before then I'm doing my job right. Why? Because time is precious.
        %a.hero-link{:href => ""} More about me and what I do &raquo;


    %section.work
      .wrapper
        .work-card
          %h2.work-card-header Featured Work
          %section
            %img{:src => "http://placepuppy.it/570/380"}
              %h3
                %a{:href => ""} Joeswebster.com
              %p My personal portfolio

    %footer
      .wrapper
        %p Copyright Joe Webster 2014. This website was designed and coded by Joe Webster.
        %ul
          %li
            %p
              email:
              %a{:href => ""} info@joeswebster.com
          %li
            %p
              linkedin:
              %a{:href => ""} linkedin.com/in/joeswebster
          %li
            %p
              github:
              %a{:href => ""} github.com/Joewebsta

  / %script{:src => "scripts/vendor.js"}
  / %script{:src => "scripts/main.js"}