!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Joe Webster's Portfolio
    %meta{:content => "", :name => "Joe is a User Experience Designer and Front End Developer based in Los Angeles."}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "styles/css/main.css", :rel => "stylesheet"}

  %body
    %header
      .wrapper
        %h1.header-logo
          %a.header-link{:href => ""} Joe Webster
        %nav
          %ul.nav-list
            %li.nav-item
              %a{:href => "work.html"} Work
            %li.nav-item
              %a{:href => ""} About
            %li.nav-item
              %a{:href => ""} Contact

    %section.hero
      .wrapper
        %p.hero-text
          %span.hero-emphasized-block Hi. 
          I'm Joe Webster, a 
          %span.hero-emphasized User Experience Designer 
          and 
          %span.hero-emphasized Front End Developer 
          based in LA.
          %span.hero-emphasized Simplicity 
          and 
          %span.hero-emphasized efficiency 
          are my guiding stars. I strive to build products that enable users to successfully achieve their goals in less time than ever. Why? Because 
          %span.hero-emphasized time is precious.
        %a.hero-link{:href => ""} More about me and what I do &raquo;

    %section.work
      .wrapper
        %h2.work-header Featured Work
        .work-cards
          .work-card
            %a{:href => "work/joeswebster.html"}
              %img.work-card-image{:src => "images/image1.jpg"}
              %h3.work-card-header
                %a.work-card-link{:href => "work/joeswebster.html"} Joeswebster.com
              %p.work-card-subheader My personal portfolio.
          
          .work-card
            %a{:href => "work/weddingdressfantasy.html"}
              %img.work-card-image{:src => "images/image1.jpg"}
              %h3.work-card-header
                %a.work-card-link{:href => "work/weddingdressfantasy.html"} Wedding Dress Fantasy
              %p.work-card-subheader Alternative dress for brides.

    %footer
      .wrapper
        %p.footer-copyright &copy; Copyright Joe Webster 2014
        %p.footer-text Website designed and coded by Joe
        %ul.social-links
          %li.social-link
            %p.footer-text
              %strong email:
              %a{:href => ""} info@joeswebster.com
          %li.social-link
            %p.footer-text
              %strong linkedin:
              %a{:href => ""} linkedin.com/in/joeswebster
          %li.social-link
            %p.footer-text
              %strong github:
              %a{:href => ""} github.com/Joewebsta

  / %script{:src => "scripts/vendor.js"}
  / %script{:src => "scripts/main.js"}