%head
  %meta{:charset => "utf-8"}
    %title Joe Webster's Portfolio
    %meta{:content => "", :name => "description"}
      %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
        %link{:href => "styles/css/main.css", :rel => "stylesheet"}