!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Work
    %meta{:content => "", :name => ""}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "styles/css/main.css", :rel => "stylesheet"}


  %body
    %header
      .wrapper
        %h1.header-logo
          %a.header-link{:href => "index.html"} Joe Webster
        %nav
          %ul.nav-list
            %li.nav-item.is-selected
              %a{:href => "work.html"} Work
            %li.nav-item
              %a{:href => ""} About
            %li.nav-item
              %a{:href => ""} Contact

  %section.work
    .wrapper
      %h2.work-header Work
      .work-cards
        .work-card
          %a{:href => ""}
            %img.work-card-image{:src => "images/image1.jpg"}
            %h3.work-card-header
              %a{:href => ""} Joeswebster.com
            %p.work-card-subheader My personal portfolio.
        
        .work-card
          %a{:href => ""}
            %img.work-card-image{:src => "images/image1.jpg"}
            %h3.work-card-header
              %a{:href => ""} Wedding Dress Fantasy
            %p.work-card-subheader My personal portfolio.

%footer
  .wrapper
    %p.footer-copyright &copy; Copyright Joe Webster 2014
    %p.footer-text Website designed and coded by Joe
    %ul.social-links
      %li.social-link
        %p.footer-text
          %strong email:
          %a{:href => ""} info@joeswebster.com
      %li.social-link
        %p.footer-text
          %strong linkedin:
          %a{:href => ""} linkedin.com/in/joeswebster
      %li.social-link
        %p.footer-text
          %strong github:
          %a{:href => ""} github.com/Joewebsta