!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Joe Webster's Portfolio
    %meta{:content => "", :name => "Joe is a User Experience Designer and Front End Developer based in Los Angeles."}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "../styles/css/main.css", :rel => "stylesheet"}

  %body
    %header
      .wrapper
        %h1.header-logo
          %a.header-link{:href => "../index.html"} Joe Webster
        %nav
          %ul.nav-list
            %li.nav-item.is-selected
              %a{:href => "work.html"} Work
            %li.nav-item
              %a{:href => ""} About
            %li.nav-item
              %a{:href => ""} Contact

    %section.project
      .wrapper
        %ul.breadcrumb
          %li.breadcrumb-item
            %a{:href => ""} Work
          %li.breadcrumb-arrow
            >
          %li.breadcrumb-selected
            Joeswebster.com
        .project-header Joeswebster.com
        .project-subheader My personal portfolio from conception to development
        .project-row
          %img{:alt => "", :src => "../../images/joeswebster/hero.png"}
        .project-row
          .project-aside
            Overview
          .project-main
            Bacon ipsum dolor sit amet ham hock shank t-bone doner turkey, frankfurter kevin. Rump tongue andouille boudin meatball t-bone ground round tail pork turkey turducken. Turkey t-bone capicola shank, boudin shoulder pork chop ball tip landjaeger tail short ribs pig jerky.
      

%footer
  .wrapper
    %p.footer-copyright &copy; Copyright Joe Webster 2014
    %p.footer-text Website designed and coded by Joe
    %ul.social-links
      %li.social-link
        %p.footer-text
          %strong email:
          %a{:href => ""} info@joeswebster.com
      %li.social-link
        %p.footer-text
          %strong linkedin:
          %a{:href => ""} linkedin.com/in/joeswebster
      %li.social-link
        %p.footer-text
          %strong github:
          %a{:href => ""} github.com/Joewebsta