!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Wedding Dress Fantasy - Joe Webster
    %link{:href => "images/joe.ico", :rel => "shortcut icon"}
    %meta{:content => "", :name => ""}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "styles/css/main.css", :rel => "stylesheet"}

  %body
    %header
      .wrapper
        %h1.header-logo
          %a.header-link{:href => "index.html"} Joe Webster
        %nav
          %ul.nav-list
            %li.nav-item.is-selected
              %a{:href => "work.html"} Work
            %li.nav-item
              %a{:href => "about.html"} About
            %li.nav-item
              %a{:href => "#"} Contact

    %section.project
      .wrapper
        .project-header Wedding Dress Fantasy
        .project-subheader Alternative and traditional wedding dresses for the unique bride-to-be
        .project-row
          %img.project-image{:alt => "", :src => "images/wdf-hero.jpg"}
        .project-row
          .project-aside.reduced-margin
            Overview
          .project-main
            %p.project-text
              Wedding Dress Fantasy is a custom wedding dress company that&rsquo;s best known for its eclectic mix of both &ldquo;modest&rdquo; and &ldquo;alternative&rdquo; bridal wear. Its website generates a good deal of in-bound traffic, but experiences a huge site drop-off due to unpleasing aesthetics and poor information architecture. The original homepage is shown below:
            %img.project-image.margin-bottom{:alt => "", :src => "images/wdf-home.jpg"}
            %p.project-text
              I, along with the help of my two teammates Nick Loy and Sofie Khan, took on the task of improving the website&rsquo;s usability and in the process addressed the stakeholder&rsquo;s business need of increasing 2014&rsquo;s online business by 20%.
        .project-row
          .project-main-offset
            .project-main-header My Role
            %p.project-text
              I took ownership of the project&rsquo;s concept mapping, navigation schema, visual design and high fidelity mockups. I shared responsibility in the creation of the user interface, competitive analysis and wireframes. My fantastic teammates get full credit for the user interviews, persona development and user journey.
        .project-spacer
        .project-row
          .project-aside
            Research
          .project-main
            .project-main-header Competitive Analysis
            %p.project-text
              We began the project by assessing the capabilities of competing bridal websites to better understand the features expected of modern online wedding dress shops. We recorded the features of multiple bridal websites and then captured key takeaways. Four of the bridal shops we analyzed are shown below:
        .project-row
          .project-full-width
            %img.project-image{:alt => "", :src => "images/wdf-competitive-analysis.jpg"}
        .project-row
          .project-main-offset
            .project-main-header User Interviews
            %p.project-text
              We brainstormed 15+ questions and created an interview script. My teammates then conducted four user interviews to uncover the needs, goals and concerns of future brides regarding the purchasing of wedding dress, especially online. 
            %img.project-image{:alt => "", :src => "images/wdf-user-script.jpg"}
        .project-row
          .project-main-offset
            .project-main-header Persona Development
            %p.project-text
              After conducting user interviews and clarifying user goals, we created two personas to help the team stay focused on our primary and secondary user&rsquo;s needs when making product decisions. 
            %img.project-image{:alt => "", :src => "images/wdf-persona.jpg"}
        .project-row
          .project-main-offset
            .project-main-header Concept Mapping
            %p.project-text
              I created a concept map to brainstorm technical solutions to Wedding Dress Fantasy&rsquo;s business goals. I came up with a few tech/website solutions, but I didn&rsquo;t stop there. I also considered content strategy, branding and customer service solutions that could also have a tangible effect on online sales.            
              %img.project-image{:alt => "", :src => "images/wdf-content-mapping.jpg"}
        .project-spacer
        .project-row
          .project-aside
            Plan
          .project-main
            .project-main-header Navigation Schema
            %p.project-text
              Wedding Dress Fantasy&rsquo;s legacy website had over 30 navigation elements across the primary nav, secondary nav and footer. We improved the websites information architecture and decreased the total number of navigation elements to 16.
            %img.project-image{:alt => "", :src => "images/wdf-navigation-schema.jpg"}
        .project-row
          .project-main-offset
            .project-main-header User Journey 
            %p.project-text
              My teammate Sophie created a user journey to help us better understand how our primary personas interacted with the legacy Wedding Dress Fantasy website as well as the pain points and stumbling blocks they encountered.
            %img.project-image{:alt => "", :src => "images/wdf-user-journey.jpg"}
        .project-spacer
        .project-row
          .project-aside
            Design
          .project-main
            .project-main-header Sketches
            %p.project-text
              At this point I had a good grasp of the user and business needs so I began to ideate a number of responsive website layouts. Sketches helped me avoid getting caught up in the technology and allowed me to focus on the best possible solution.
        .project-row
          .project-main-images
            .project-full-width
              %img.project-image-half{:alt => "", :src => "images/wdf-sketch1.jpg"}  
              %img.project-image-half{:alt => "", :src => "images/wdf-sketch3.jpg"}
        .project-row
          .project-main-offset
            .project-main-header High Fidelity Mockups
            %p.project-text
              Sketches defined the layout, but were still pretty bare bones. I improved upon my previous work by fleshing out the user interface of the dress page in Adobe Illustrator. A new cleaner and more modern visual style was created.
        .project-row
          .project-full-width
            %img.project-image{:alt => "", :src => "images/wdf-hifi-desktop.jpg"}
        .project-spacer
        .project-row
          .project-aside
            Prototype
          .project-main
            .project-main-header Wireframes and Prototyping
            %p.project-text
              Nick, Sophie and I created wireframes in Balsamiq to test and evaluate our mobile website design solution. We created each individual wireframe and uploaded them to InVision to create a functional prototype.
            %a.project-button{:href => "http://invis.io/ST1GNNQWF", :target => "_blank"} View Prototype
        .project-spacer
        .project-row
          .project-aside
            Test & Iterate
          .project-main
            .project-main-header Usability Testing
            %p.project-text
              We performed several usability tests using our InVision prototype. We gathered valuable feedback and used it to improve our high fidelity mockups and prototype.
          
    %footer
      .wrapper
        %p.footer-copyright &copy; Copyright Joe Webster 2014
        %p.footer-text Website designed and coded by Joe
        %ul.social-links
          %li.social-link
            %p.footer-text
              %strong email:
              %a{:href => "#"} hello@joeswebster.com
          %li.social-link
            %p.footer-text
              %strong linkedin:
              %a{:href => "https://www.linkedin.com/in/joeswebster", :target => "_blank"} linkedin.com/in/joeswebster
          %li.social-link
            %p.footer-text
              %strong github:
              %a{:href => "https://github.com/Joewebsta", :target => "_blank"} github.com/joewebsta