!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Wedding Dress Fantasy
    %meta{:content => "", :name => ""}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "../styles/css/main.css", :rel => "stylesheet"}

  %body
    %header
      .wrapper
        %h1.header-logo
          %a.header-link{:href => "../index.html"} Joe Webster
        %nav
          %ul.nav-list
            %li.nav-item.is-selected
              %a{:href => "../work.html"} Work
            %li.nav-item
              %a{:href => ""} About
            %li.nav-item
              %a{:href => ""} Contact

    %section.project
      .wrapper
        .project-header Wedding Dress Fantasy
        .project-subheader Alternative and traditional wedding dresses for the unique bride-to-be
        .project-row
          %img.project-image{:alt => "", :src => "../../images/weddingdressfantasy/hero.jpg"}
        .project-row
          .project-aside.reduced-margin
            Overview
          .project-main
            %p.project-text
              Bacon ipsum dolor sit amet ham hock shank t-bone doner turkey, frankfurter kevin. Rump tongue andouille boudin meatball t-bone ground round tail pork turkey turducken. Turkey t-bone capicola shank, boudin shoulder pork chop ball tip landjaeger tail short ribs pig jerky.
            %img.project-image{:alt => "", :src => "../../images/weddingdressfantasy/wdf-home.jpg"}
        .project-row
          .project-main-offset
            .project-main-header My Role
            %p.project-text
              In the process of researching portfolio best practices I was able to create a persona hypothesis. Doing so helped me better understand the perspective and needs of my primary persona: the busy hiring manager.
        .project-row
          .project-aside
            Research
          .project-main
            .project-main-header Competitive Analysis
            %p.project-text
              In the process of researching portfolio best practices I was able to create a persona hypothesis. Doing so helped me better understand the perspective and needs of my primary persona: the busy hiring manager.
        .project-row
          .project-full-width
            %img.project-image{:alt => "", :src => "../../images/weddingdressfantasy/competitive-analysis.jpg"}
        .project-row
          .project-main-offset
            .project-main-header User Interviews
            %p.project-text
              Although my initial moodboard aided in defining my brand, it was too vague. I built upon my previous work by creating a style tile that defined my portfolio&rsquo;s typography, colors and general visual language. 
            %img.project-image{:alt => "", :src => "../../images/weddingdressfantasy/user-script.jpg"}
        .project-row
          .project-main-offset
            .project-main-header Persona
            %p.project-text
              Although my initial moodboard aided in defining my brand, it was too vague. I built upon my previous work by creating a style tile that defined my portfolio&rsquo;s typography, colors and general visual language. 
            %img.project-image{:alt => "", :src => "../../images/weddingdressfantasy/persona.jpg"}
        .project-row
          .project-main-offset
            .project-main-header Concept Mapping
            %p.project-text
              It was important that I first defined my core purpose because it would set the tone and communicate the type of work I strive to create. After several sessions of an iterative question-asking technique called &ldquo;5 Whys&rdquo; I came up with the following purpose:
            %img.project-image{:alt => "", :src => "../../images/weddingdressfantasy/content-mapping.jpg"}
        .project-row
          .project-aside
            Plan
          .project-main
            .project-main-header Navigation Schema
            %p.project-text
              It was important that I first defined my core purpose because it would set the tone and communicate the type of work I strive to create. After several sessions of an iterative question-asking technique called &ldquo;5 Whys&rdquo; I came up with the following purpose:
            %img.project-image{:alt => "", :src => "../../images/weddingdressfantasy/navigation-schema.jpg"}
        .project-row
          .project-main-offset
            .project-main-header User Journey 
            %p.project-text
              Although my initial moodboard aided in defining my brand, it was too vague. I built upon my previous work by creating a style tile that defined my portfolio&rsquo;s typography, colors and general visual language. 
            %img.project-image{:alt => "", :src => "../../images/weddingdressfantasy/user-journey.jpg"}
        .project-row
          .project-aside
            Design
          .project-main
            .project-main-header Sketches
            %p.project-text
              It was important that I first defined my core purpose because it would set the tone and communicate the type of work I strive to create. After several sessions of an iterative question-asking technique called &ldquo;5 Whys&rdquo; I came up with the following purpose:
        .project-row
          .project-main-images
            .project-full-width
              %img.project-image-half{:alt => "", :src => "../../images/weddingdressfantasy/sketch1.jpg"}  
              %img.project-image-half{:alt => "", :src => "../../images/weddingdressfantasy/sketch3.jpg"}
        .project-row
          .project-main-offset
            .project-main-header High Fidelity Mockups
            %p.project-text
              Creating a collage of images helped me visually explore and convey the essence of my personal brand. I analyzed the images I collected and decided that my portfolio&rsquo;s visual design should embody the following adjectives: modern, clean and minimalist.
        .project-row
          .project-full-width
            %img.project-image{:alt => "", :src => "../../images/weddingdressfantasy/hifi-desktop.jpg"}
        .project-row
          .project-aside
            Prototype
          .project-main
            .project-main-header Wireframes and Prototyping
            %p.project-text
              It was important that I first defined my core purpose because it would set the tone and communicate the type of work I strive to create. After several sessions of an iterative question-asking technique called &ldquo;5 Whys&rdquo; I came up with the following purpose: 
            %a.project-button{:href => "http://invis.io/ST1GNNQWF", :target => "_blank"} View Prototype
        .project-row
          .project-aside
            Test & Iterate
          .project-main
            .project-main-header Usability Testing
            %p.project-text
              It was important that I first defined my core purpose because it would set the tone and communicate the type of work I strive to create. After several sessions of an iterative question-asking technique called &ldquo;5 Whys&rdquo; I came up with the following purpose: 
          
%footer
  .wrapper
    %p.footer-copyright &copy; Copyright Joe Webster 2014
    %p.footer-text Website designed and coded by Joe
    %ul.social-links
      %li.social-link
        %p.footer-text
          %strong email:
          %a{:href => ""} info@joeswebster.com
      %li.social-link
        %p.footer-text
          %strong linkedin:
          %a{:href => ""} linkedin.com/in/joeswebster
      %li.social-link
        %p.footer-text
          %strong github:
          %a{:href => ""} github.com/Joewebsta