@import "jeet";

header {
  margin-top: 20px;
}

.header-logo {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;

  @media (min-width: 600px) {
    float: left;
  }
}

.header-link { 
  color: $blue-dark;
}