.hero {
  margin-top: 45px;

  @media (min-width: 1051px) {
    margin-top: 100px;
  }
}

.hero-text {
  @media (min-width: 1051px) {
    font-size: 26px;
  }
}

.hero-emphasized {
  @media (min-width: 600px) {
    font-weight: bold;
  }
}

.hero-emphasized-block {
 font-weight: bold;
 display: block; 
}

.hero-link {
  margin-top: 6px;
  display: inline-block;
}