nav {
  margin-top: 20px;

  @media (min-width: 600px) {
    float: right;
    margin-top: 0px;
  }
}

.nav-list {
  text-align: center;

  @media (min-width: 600px) {
    margin-top: 8px;
  }
}

.nav-item {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 15px;
  font-size: 12px;
  font-weight: bold;

  @media (min-width: 600px) {
    font-size: 16px;
    margin-left: 25px;
  }

  @media (min-width: 1051px) {
    margin-left: 45px;
  }

  &.is-selected {
    border-bottom: 3px solid #1B2E4C;
    padding-bottom: 2px;
    margin-bottom: -2px;
  }
}

.nav-item:first-child {
  margin-left: 0;
}