.project {
  
  margin: 38px 0 40px;

  @media (min-width: 1051px) {
    margin: 100px 0 100px;
  }
}

.project-header {
  font-size: 24px;
  font-weight: bold;
  /*margin-top: 27px; */

  @media (min-width: 1051px) {
    font-size: 60px;
  }
}

.project-subheader {
  font-size: 18px;
  margin-top: 10px;
  color: $gray-darker;

  @media (min-width: 1051px) {
    font-size: 22px;
  }
}

.project-row {
  @include cf();
}

.project-main {
  margin-top: 20px;

  @media (min-width: 767px) {
    @include column(2/3);
  }

  @media (min-width: 1051px) {
    margin-top: 50px;
  }
}

.project-main-header {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 22px;

  @media (min-width: 1051px) {
    font-size: 30px;
    margin-bottom: 25px;
  }
}

.project-main-offset {
  margin-top: 30px;

  @media (min-width: 767px) {
    @include column(2/3, $offset: 1/3);
  }

  @media (min-width: 1051px) {
    margin-top: 50px;
  }
}

.project-aside {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $gray-darker;
  margin-top: 40px;

  &.reduced-margin {
    margin-top: 20px;
  }

  @media (min-width: 767px) {
    @include column(1/3);
    margin-top: 20px;
  }

  @media (min-width: 1051px) {
    font-size: 18px;
    margin-top: 50px;

    &.reduced-margin {
      margin-top: 50px;
    }
  }
}

.project-text{
  @media (min-width: 1051px) {
    font-size: 22px;
    line-height: 1.5em;
  }
}

.project-image {
  margin-top: 15px;

  @media (min-width: 1051px) {
    margin-top: 25px;
  }
}

.project-image-half {
  margin-top: 15px;

  @media (min-width: 767px) {
    @include column(1/2);
  }
}

.project-button {
  display: block;
  text-align: center;
  background: $blue-light;
  font-size: 16px;
  padding: 20px 0;
  text-transform: uppercase;
  color: white;
  margin-top: 15px;
  border-bottom: 2px solid rgba(0,0,0,0.2); 

  &:hover{
    background:#2F65B2;
  }

  @media (min-width: 1051px) {
    font-size: 18px;
    margin-top: 25px;
    width: 50%;
  }
}

.project-full-width {

}

.project-full-width-quote {
  text-align: center;
  margin-top: 15px;
  background: #1b2e4c;
  padding: 30px;
  color: white;
}

