@import "../colors";

.work {
  margin-top: 45px;

  @media (min-width: 1051px) {
    margin-top: 100px;
  }
}

.work-header {
  margin-bottom: 30px;
} 

.work-cards {
  @include cf();
}

.work-card {
  margin-bottom: 40px;

  @media (min-width: 769px) {

    @include column(1/2, $cycle: 2);
  }
}

.work-card-image {
  width: 100%;

  @media (min-width: 769px) {
    max-width: 100%;
  }
}

/*.work-card-link {
  font-weight: bold;
}
*/
.work-card-header {
  text-transform: uppercase;
  margin-top: 10px;
}

.work-card-subheader {
  margin-top: 3px;
  color: $gray-darker;
}

