@import "../colors";

.work {
  margin-top: 45px;
}

.work-header {
  margin-bottom: 30px;
}

.work-card {
  margin-bottom: 40px;
}

.work-card-image {
}

.work-card-header {
  text-transform: uppercase;
  margin-top: 10px;
}

.work-card-subheader {
  margin-top: 3px;
  color: $gray-dark;
}

