.hero {
  margin-top: 40px;
}

.hero-emphasized {
/*  font-weight: bold;*/
}

.hero-emphasized-block {
 font-weight: bold;
 display: block; 
}

.hero-link {
  margin-top: 6px;
  display: inline-block;
}