@import "fonts";
@import "colors";
@import "jeet";

html {
  /*@include edit();*/
  border: 4px solid #1b2e4c;

  @media (min-width: 1051px) {
    border: 8px solid #1b2e4c;
  }
}

body {
  font-family: 'Colfax';
  background: $gray-light;
  color: $blue-dark;
  max-width: 1180px;
  margin: 0 auto;
}

h1 { font-size: 30px; font-weight: bold; }
h2 { font-size: 24px; font-weight: bold; }
h3 { font-size: 18px; }
h4 { }
h5 { }
h6 { }

p { 
  font-size: 18px;
  line-height: 1.4em;
}

a { 
  color: $blue-light;
  text-decoration: none;
}

img {
  max-width: 100%;
}

strong {
  font-weight: bold;
}

.wrapper {
  padding: 0 20px;
  @include cf();
}