@font-face {
  font-family: 'Colfax';
  src: url('Colfax-Regular.eot?#iefix') format('embedded-opentype'), 
       url('Colfax-Regular.woff') format('woff'), 
       url('Colfax-Regular.ttf')  format('truetype');
  }

/*@font-face {
    font-family: 'Colfax';
    src: url('fonts/Colfax-Regular.eot');
}

@font-face {
    font-family: 'Colfax';
    src: url('fonts/Colfax-Regular.eot');
}*/